<div class="form-group">
    <label>{{ entityGroup.attributeDisplayName }}</label>
    {% if (entityGroup.attributeType == 'text') %}
        <input class="form-control" type="text" value="{{ entityGroup.attributeContent }}">
    {% elseif (entityGroup.attributeType == 'textarea') %}
        <textarea class="form-control">{{ entityGroup.attributeContent }}</textarea>
    {% elseif (entityGroup.attributeType == 'ckeditor') %}
        <textarea class="form-control">{{ entityGroup.attributeContent }}</textarea>
    {% endif %}
</div>
